.text-right {
  text-align: initial !important;
}

.buygoods-card {
  border: 2px solid rgba(255, 255, 255, 0.05) !important;
  border-radius: 9px !important;
  background: none !important;
}

.buygoods-bordericon {
  border: solid 1px red !important;
  border-radius: 6px !important;
  padding: 3px;
}
.card-img-cart {
  width: 95px;
  padding-right: 10px;
  padding-left: 5px;
}

.font-size-dic {
  font-size: 12px !important;
}
// modal

// modal
