.bg-footer{
     background-image: url("../img/footer.png");
}
.colorLink {
    color: #D39B22 !important;
}
.arrowUp{
    border: 2px dashed #fff;
    border-radius: 50px;
    padding: 5px;
}
.design-end{
    h2{
        font-size: 18px !important;
    }
    p{
        font-size: 14px !important;
    }
}